/*----------------------------
# Custom CSS
----------------------------*/

/* gRecaptcha hiding */
.grecaptcha-badge {
	visibility: hidden;
}

/**
 * Scrollbar Styles
 *
 * Ensure consistent visual appearance across multiple browsers.
 */

/* scrollbar styles for Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-bg);
}

/* Scrollbar styles for Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 6px;
}

*::-webkit-scrollbar-track {
	background: var(--color-scrollbar-bg);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color-scrollbar);
	border-radius: 20px;
	border: 3px solid var(--color-scrollbar-bg) !important;
}

/**
 * Atomic CSS Classes
 */

.is-rounded--full {
	border-radius: calc(infinity * 1px);
}

.is-rounded--4xs {
	border-radius: var(--spacing-4xs);
}

.is-rounded--5xs {
	border-radius: 0.28rem;
}

.is-list--none {
	list-style-type: none;
}

.is-overflow--vissible {
	overflow: visible !important;
}

.is-w-100 {
	width: 100%;
}

.is-w-auto {
	width: auto;
}

@media (--tablet-query) {
	.is-w-100__tablet {
		width: 100%;
	}
	
	.is-w-auto__tablet {
		width: auto;
	}
}

@media (--desktop-query) {
	.is-w-100__desktop {
		width: 100%;
	}
	
	.is-w-auto__desktop {
		width: auto;
	}
}


