@import "_custom-properties.css";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/* stylelint-disable */
html {
	box-sizing: border-box;
}

/* stylelint-enable */

/**
 * Inherit box-sizing to make it easier to change the property for
 * components that leverage other behavior; see
 * http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
}

/* stylelint-disable */
body {
	background: var(--color-theme-light-purple);
	/* Fallback for when there is no custom background color defined. */
}

/* stylelint-enable */

/* stylelint-disable */
hr {
	background-color: var(--border-color-light);
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* stylelint-enable */

ul,
ol {
	margin: 0 0 1.5em 0;
	padding-left: 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li>ul,
li>ol {
	margin-bottom: 0;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* stylelint-disable */
img {
	display: block;
	height: auto;
	max-width: 100%;
}

/* stylelint-enable */

/* Extra wide images within figure tags don't overflow the content area. */
figure {
	margin: 0.5em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* Clutch Award */
.clutch-award {
	@media (--desktop-query) {
		width: 5.2rem;
	}

	@media (--widescreen-query) {
		width: 9.25rem;
	}
}

/* FAQ Item */
.faq-item {
	border-bottom: 0.1rem solid var(--color-theme-deep-purple-10);
	cursor: default;
}

.faq-item.active {
	padding-bottom: var(--spacing-l);
}

.faq-item.active .faq-item__banner {
	padding-bottom: 0 !important;
}

.faq-item__arrow-icon {
	transition: all linear var(--animation-speed);
}

.faq-item.active .faq-item__arrow-icon {
	rotate: 180deg;
}

.faq-item__content {
	height: 0;
	overflow: hidden;
	opacity: 0;
	transition: opacity var(--animation-speed) linear;
}

.faq-item.active .faq-item__content {
	height: auto;
	opacity: 1;
}

/* Blog Post Swiper */

.post-swiper .swiper-pagination-bullet {
	width: 0.6rem;
	height: 0.6rem;
	background-color: var(--color-theme-white);
	opacity: 1;
}

.post-swiper .swiper-pagination-bullet-active {
	width: 1rem;
	height: 1rem;
	background-color: var(--color-theme-deep-purple);
}

.post-swiper .post-swiper__slide {
	width: 30.4rem !important;
	height: auto;
    flex-shrink: 0;
	box-shadow:
		-6px 7px 21px 0px rgba(0, 0, 0, 0.1),
		-24px 30px 38px 0px rgba(0, 0, 0, 0.09),
		-53px 67px 51px 0px rgba(0, 0, 0, 0.05),
		-95px 119px 61px 0px rgba(0, 0, 0, 0.01),
		-148px 186px 67px 0px rgba(0, 0, 0, 0);

		@media (--tablet-query) {
			width: 34rem !important;
		}
}

.post-swiper .post-swiper__thumbnail {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 19.3rem;
}