/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
	display: flex;
	z-index: 100;
	transition: background-color var(--animation-speed) linear;
}

.site-header.active {
	background-color: white;
	border-bottom: 1px solid var(--color-theme-deep-purple);
}

/* fix for sticky position for admins */
.admin-bar .site-header.is-sticky {
	top: 32px !important;
}

.header-image {
	margin: 0 auto;
}

.header-image img {
	display: block;
	margin: 0 auto;
}

.custom-logo-link {
	position: relative;
	display: inline-block;
	height: 100%;
	padding: var(--spacing-xs) 0;
}

.custom-logo {
	width: 5.6rem;
	height: auto;
	transition: opacity var(--animation-speed) linear;

	&.dark {
		position: absolute;
		top: var(--spacing-xs);
		left: 0;
		opacity: 0;
	}

	@media (--desktop-query) {
		width: 8.8rem;
	}
}

.site-header.active .custom-logo {
	opacity: 0;

	&.dark {
		opacity: 1;
	}
}

.site-branding {
	text-align: center;

	@media (--narrow-menu-query) {
		margin: 0;
	}
}

.site-title {
	margin: 0 1em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 38px;
	font-weight: 700;
	line-height: 1.2;
}

.site-title a {
	text-decoration: none;
	color: inherit;
}

.site-description {
	margin: 0.4375em 0 0;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: #757575;
}

@media (--narrow-menu-query) {

	header#masthead:has(nav) {
		display: flex;

		& .site-branding {
			order: 0;
			padding: 0;

			& .site-title {
				margin: 0.5em 0;
			}
		}

		& .main-navigation.nav--toggle-sub {
			padding: initial;
			margin-left: var(--spacing-m);
			margin-right: 0;
			order: 2;

			& .menu-toggle.icon {
				top: 0;
			}
		}
	}
}

nav div.wp-block-navigation__responsive-dialog {

	@media (--narrow-menu-query) {
		margin: 1em;
	}
}

.header-cta-button {
	cursor: pointer;
	font-size: 1.68rem !important;
	font-weight: 500 !important;
	line-height: 1.6rem !important;
	padding: var(--spacing-xs) 2.8rem !important;
}

.header-cta-wrapper {
	order: 1;
	margin-left: auto;

	@media (--desktop-query) {
		order: unset;
		margin-left: 0;
	}
}