/*----------------------------
# Background
----------------------------*/

.bg-color--primary {
	background-color: var(--color-theme-primary) !important;
}

.bg-color--secondary {
	background-color: var(--color-theme-secondary) !important;
}

.bg-color--purple { 
	background: #5E2BFF !important;
}

.bg-color--light-purple { 
	background: var(--color-theme-light-purple) !important;
}

.bg-color--middle-purple { 
	background: var(--color-theme-middle-purple) !important;
}

.bg-color--purple-30 { 
	background: rgba(94, 43, 255, 0.3) !important;
}


.bg-color--white {
	background: #ffffff !important;
}

.bg-color--white-10 {
	background: var(--color-theme-white-10) !important;
}

.bg-color--white-60 {
	background: var(--color-theme-white-60) !important;
}

.bg-color--gray {
	background: var(--color-theme-gray) !important;
}

.bg-color--gray-50 {
	background: var(--color-theme-gray-50) !important;
}

.bg-color--gray-light {
	background: var(--color-theme-gray-light) !important;
}

.bg-color--gray-dark {
	background: var(--color-theme-gray-dark) !important;
}

.bg-color--gradient {
	background: linear-gradient(204deg, #471899 0%, #120833 63.94%) !important;
}

.bg-color--gradient-2 {
	background: linear-gradient(180deg, #1E0275 0%, #8784FF 100%) !important;
}

.bg-color--gradient-3 {
	background: linear-gradient(180deg, #8784FF 0%, rgba(226, 234, 252, 0) 90.78%) !important;
}

.bg-backdrop--blur {
	backdrop-filter: blur(2rem) !important;
}