/*----------------------------
# Backgrounds
----------------------------*/

.bg-color--primary {
	background-color: var(--color-theme-primary);
}

.bg-color--secondary {
	background-color: var(--color-theme-secondary);
}

.bg-color--purple { 
	background: #5E2BFF;
}

.bg-color--purple-30 { 
	background: rgba(94, 43, 255, 0.3);
}


.bg-color--white {
	background: #ffffff;
}

.bg-color--white-10 {
	background: var(--color-theme-white-10);
}

.bg-color--white-60 {
	background: var(--color-theme-white-60);
}

.bg-color--gray {
	background: var(--color-theme-gray);
}

.bg-color--gray-50 {
	background: var(--color-theme-gray-50);
}

.bg-color--gray-light {
	background: var(--color-theme-gray-light);
}

.bg-color--gray-dark {
	background: var(--color-theme-gray-dark);
}

.bg-color--gradient {
	background: linear-gradient(204deg, #471899 0%, #120833 63.94%) !important;
}

.bg-backdrop--blur {
	backdrop-filter: blur(2rem);
}