/*----------------------------
# Backgrounds
----------------------------*/

.bg-color--primary {
	background-color: var(--color-theme-primary);
}

.bg-color--secondary {
	background-color: var(--color-theme-secondary);
}

.bg-color--white {
	background: #ffffff;
}

.bg-color--white-10 {
	background: var(--color-theme-white-10);
}

.bg-color--white-60 {
	background: var(--color-theme-white-60);
}

.bg-color--gradient {
	background: linear-gradient(204deg, #471899 0%, #120833 63.94%) !important;
}

.bg-backdrop--blur {
	backdrop-filter: blur(2rem);
}