/*----------------------------
# Buttons
----------------------------*/
/* Rest styles for html button elemetn */
.reset-button-styles {
	border: none;
	background: none;
}

/* Primary */
.btn--primary {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: var(--color-theme-deep-purple);
	color: var(--color-theme-white);
	font-size: 2.016rem;
	line-height: 2rem;
	letter-spacing: 1%;
	font-weight: 500;
	transition: var(--animation-speed);
	padding: var(--spacing-xs) var(--spacing-l);
	border-radius: 0.4rem;

}

/* Primary Small */
.btn--primary-small {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: var(--color-theme-deep-purple);
	color: var(--color-theme-white);
	font-size: 1.68rem;
	line-height: 2rem;
	letter-spacing: 1%;
	font-weight: 500;
	transition: var(--animation-speed);
	padding: var(--spacing-2xs) var(--spacing-m);
	border-radius: 0.4rem;
}

/* States - Primary */
.btn--primary:hover,
.btn--primary-small:hover {
	background: var(--color-theme-white);
	color: var(--color-theme-deep-purple);
}

.btn--primary:disabled,
.btn--primary-small:disabled,
.btn--primary[disabled],
.btn--primary-small[disabled] {
	background: var(--color-theme-gray);
	color: var(--color-theme-gray-dark);
	pointer-events: none;
}

/* Secondary */
.btn--secondary {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: var(--color-theme-white-10);
	backdrop-filter: blur(2rem);
	color: var(--color-theme-white) !important;
	text-transform: uppercase;
	font-size: 1.68rem;
	line-height: 1.6rem;
	letter-spacing: 1%;
	font-weight: 500;
	transition: var(--animation-speed);
	padding: var(--spacing-2xs) 2.8rem;
	border-radius: 0.4rem;
}

/* Secondary Small */
.btn--secondary-small {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: var(--color-theme-white-10);
	backdrop-filter: blur(2rem);
	color: var(--color-theme-white) !important;
	text-transform: uppercase;
	font-size: 1.4rem;
	line-height: 1.3;
	letter-spacing: 0;
	font-weight: 500;
	transition: var(--animation-speed);
	padding: var(--spacing-3xs) var(--spacing-xs);
	border-radius: 0.4rem;
}

/* States - Secondary */
.btn--secondary:hover,
.btn--secondary-small:hover {	
	background: var(--color-theme-white-60);
}


.btn--secondary:active,
.btn--secondary-small:active,
.btn--secondary:focus,
.btn--secondary-small:focus {
	background-color: var(--color-theme-white-70);
}

.btn--secondary:disabled,
.btn--secondary-small:disabled,
.btn--secondary[disabled],
.btn--secondary-small[disabled] {
	background: var(--color-theme-white-10);
	color: var(--color-theme-dgray-dark);
	pointer-events: none;
}

/* White */
.btn--white {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: var(--color-theme-white);
	color: var(--color-theme-deep-purple);
	font-size: 2.016rem;
	line-height: 2rem;
	letter-spacing: 1%;
	font-weight: 500;
	transition: var(--animation-speed);
	padding: var(--spacing-xs) var(--spacing-l);
	border-radius: 0.4rem;
}

/* White Small */
.btn--white-small {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: var(--color-theme-white);
	color: var(--color-theme-deep-purple);
	font-size: 1.68rem;
	line-height: 2rem;
	letter-spacing: 1%;
	font-weight: 500;
	transition: var(--animation-speed);
	padding: var(--spacing-2xs) var(--spacing-m);
	border-radius: 0.4rem;
}

/* States - White */
.btn--white:hover,
.btn--white-small:hover {
	background-color: var(--color-theme-deep-purple);
	color: var(--color-theme-white);
}

.btn--white:disabled,
.btn--white-small:disabled,
.btn--white[disabled],
.btn--white-small[disabled] {
	background: var(--color-theme-gray);
	color: var(--color-theme-disabledgray-dark);
	pointer-events: none;
}


/* Full screen view for buttons on mobile */
@media (--mobile-query) {

	.btn--primary.is-full-mobile,
	.btn--primary-small.is-full-mobile ,
	.btn--secondary.is-full-mobile,
	.btn--secondary-small.is-full-mobile ,
	.btn--white.is-full-mobile,
	.btn--white-small.is-full-mobile {
		width: 100%;
	}
}
