/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* stylelint-disable */
textarea {
	width: 100%;
	resize: none;
}

/* stylelint-enable */

/* stylelint-disable */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: var(--border-color-light) var(--border-color-light) #bbb;
	border-radius: 3px;
	background: #eee;
	color: rgba(0, 0, 0, 0.8);
	font-size: 0.75rem;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	cursor: pointer;
}

/* stylelint-enable */

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: var(--border-color-light) #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: var(--color-theme-deep-purple);
	border: none;
	background: var(--color-theme-white-60);
	padding: 1.6rem 2rem;
	border-radius: 0.4rem;

	&::placeholder {
		color: var(--color-theme-gray);
	}

	&:hover::placeholder {
		color: var(--color-theme-gray-dark);
	}

	&:focus {
		background-color: var(--color-theme-white);
	}

	@media (--desktop-query) {

		&::placeholder,
		&:hover::placeholder {
			color: transparent;
		}

	}
}

select {
	border: 1px solid var(--border-color-light);
}

.form-notification {
	border: 4px solid transparent;
	border-radius: 0.4rem;
}

.form-notification--failed {
	border-color: var(--color-theme-red);
}

.form-notification--success {
	border-color: var(--color-theme-green);
}